body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:2330px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:2330px;
}
#u39 {
  position:absolute;
  left:2px;
  top:1157px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u40 {
  position:absolute;
  left:40px;
  top:1620px;
  width:375px;
  height:667px;
}
#u41 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:1547px;
}
#u42 {
  position:absolute;
  left:40px;
  top:40px;
  width:875px;
  height:1547px;
}
#u43 {
  position:absolute;
  left:2px;
  top:766px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
