body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:1820px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:1820px;
}
#u23 {
  position:absolute;
  left:2px;
  top:902px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:835px;
}
#u24 {
  position:absolute;
  left:40px;
  top:40px;
  width:875px;
  height:835px;
}
#u25 {
  position:absolute;
  left:2px;
  top:410px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:835px;
}
#u26 {
  position:absolute;
  left:40px;
  top:910px;
  width:875px;
  height:835px;
}
#u27 {
  position:absolute;
  left:2px;
  top:410px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
