body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:930px;
  background:inherit;
  background-color:rgba(221, 221, 221, 1);
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:930px;
}
#u15 {
  position:absolute;
  left:2px;
  top:457px;
  width:1396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:875px;
  height:801px;
}
#u16 {
  position:absolute;
  left:40px;
  top:40px;
  width:875px;
  height:801px;
}
#u17 {
  position:absolute;
  left:2px;
  top:393px;
  width:871px;
  visibility:hidden;
  word-wrap:break-word;
}
